{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}
<div class="container my-3">
    <h1> webtoon service summary</h1>

    <!--    {% if platform != 'naver' and webtoon != '전지적 독자 시점' %}-->
    <!--         <h4> 앗앗앗! {{webtoon}}에 대해 아직 준비된 서비스가 없습니다.</h4>-->
    <!--    {% else %}-->
    {% if lang == 'kr' %}
    <p class="mb-0"> 한글 , {{platform}} , {{webtoon}} 분석을 시작합니다.</p>
    {% elif lang == 'en' %}
    <p class="mb-0"> 영어 , {{platform}} , {{webtoon}} 분석을 시작합니다.</p>
    {% endif %}
    <!--    {% endif %}-->


</div>

<!-- Categories widget-->
<div class="card mb-4">
    <div class="card-header">Analysis Service Categories</div>
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <div class="alert alert-info">
                    <button type="button"></button>
                    <h4><strong>전체 댓글수 추이</strong></h4> <a
                        href="{% url 'webtoonitda:show_num_reviews' lang platform webtoon %}" class="alert-link">전체
                    에피소드의 댓글수를 분석합니다.</a>
                </div>
            </div>
            <div class="col-6">
                <div class="alert alert-info">
                    <button type="button"></button>
                    <h4><strong>댓글수 에피소드 Top10</strong></h4> <a
                        href="{% url 'webtoonitda:show_best_episodes_by_reviews' lang platform webtoon %}"
                        class="alert-link">댓글수가 가장 많은 에피소드 Top10을 보여줍니다.</a>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-6">
                <div class="alert alert-info">
                    <button type="button"></button>
                    <h4><strong>전체 평점수 추이</strong></h4> <a
                        href="#!" class="alert-link">
                    전체 에피소드의 평점수를 분석합니다.곧 서비스 예정입니다.</a>
                </div>
            </div>
            <div class="col-6">
                <div class="alert alert-info">
                    <button type="button"></button>
                    <h4><strong>평점수 에피소드 Top10</strong></h4> <a
                        href="{% url 'webtoonitda:show_best_episodes_by_points' lang platform webtoon %}"
                        class="alert-link">평점수가 가장 높은 에피소드 Top10을 보여줍니다.곧 서비스 예정입니다.</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="alert alert-info">
                    <button type="button"></button>
                    <h4><strong>전체 참여도 추이</strong></h4> <a
                        href="#!" class="alert-link">
                    전체 에피소드의 참여도를 분석합니다.곧 서비스 예정입니다.</a>
                </div>
            </div>
            <div class="col-6">
                <div class="alert alert-info">
                    <button type="button"></button>
                    <h4><strong>참여도 에피소드 Top10</strong></h4> <a
                        href="#!"
                        class="alert-link">참여도가 가장 높은 에피소드 Top10을 보여줍니다.곧 서비스 예정입니다.</a>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-6">
                <div class="alert alert-info">
                    <button type="button"></button>
                    <h4><strong>댓글 원본 추출</strong></h4> <a
                        href="{% url 'webtoonitda:ep_review'%}" class="alert-link">
                    검색어를 입력하면 댓글 원본을 추출합니다.</a>
                </div>
            </div>
            <div class="col-6">
                <div class="alert alert-info">
                    <button type="button"></button>
                    <h4><strong>전체 중요 키워드 Top10</strong></h4> <a
                        href="{% url 'webtoonitda:show_keywords' lang platform webtoon %}"
                        class="alert-link">전체 댓글에서 가장 많이 등장한 중요한 단어 Top10을 보여줍니다.</a>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-6">
                <div class="alert alert-info">
                    <button type="button"></button>
                    <h4><strong>단어간 유사도 측정</strong></h4> <a
                        href="{% url 'webtoonitda:show_similarity' %}" class="alert-link">
                    두 개의 단어간의 유사도를 측정합니다.</a>
                </div>
            </div>
            <div class="col-6">
                <div class="alert alert-info">
                    <button type="button"></button>
                    <h4><strong>Topic별 유사 단어 추출</strong></h4> <a
                        href="{% url 'webtoonitda:show_topic_keywords' lang platform webtoon %}"
                        class="alert-link">Topic별로 문맥에 관련된 단어들을 추출합니다.</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-3">

    <div class="d-grid gap-2">
        <button onclick="javascript:history.back();" class="btn btn-lg btn-danger" type="button">뒤로가기</button>
    </div>
</div>


{% endblock %}
{% block script %}
<script type='text/javascript'>

</script>
{% endblock %}